### Gradle ###
.gradle
/build
!gradle-wrapper.jar

### Java ###
*.class
*.log
*.jar
*.war
*.ear

### IntelliJ ###
.idea/
*.iml
out/

### VS Code ###
.vscode/

### STS ###
.apt_generated
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Firebase Credentials (do not commit!)
src/main/resources/firebase_service_account.json

### Others ###
nbbuild/
dist/
